.App {
  background-image: linear-gradient(to bottom right, #AEF3E7, #37718E);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}