@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}

#main-spinner {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border:16px solid rgba(255, 255, 255, .4);
  border-top:16px solid rgba(255, 255, 255, .2);
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  animation: spin 2s linear infinite;
}